#a{
    background-color: blue;
    box-shadow: 50px,60px,40px,60px;
    margin: 2%;
    padding: 80px;
    border: 50px;
    border-radius: 50px
    ;
}
#b{
    background-color: blue;
    box-shadow: 50px,60px,40px,60px;
    margin: 2%;
    padding: 80px;
    border: 50px;
    border-radius: 50px
    ;
}
#c{
    background-color: blue;
    box-shadow: 50px,60px,40px,60px;
    margin: 2%;
    padding: 80px;
    border: 50px;
    border-radius: 50px
    ;
}
#d{
    background-color: blue;
    box-shadow: 50px,60px,40px,60px;
    margin: 2%;
    padding: 80px;
    border: 50px;
    border-radius: 50px
    ;
}
#e{
    background-color: blue;
    box-shadow: 50px,60px,40px,60px;
    margin: 2%;
    padding: 80px;
    border: 50px;
    border-radius: 50px
    ;
}
#f{
    background-color: blue;
    box-shadow: 50px,60px,40px,60px;
    margin: 2%;
    padding: 80px;
    border: 50px;
    border-radius: 50px
    ;
}
#g{
    background-color: blue;
    box-shadow: 50px,60px,40px,60px;
    margin: 2%;
    padding: 80px;
    border: 50px;
    border-radius: 50px
    ;
}
#h{
    background-color: blue;
    box-shadow: 50px,60px,40px,60px;
    margin: 2%;
    padding: 80px;
    border: 50px;
    border-radius: 50px
    ;
}
#i{
    background-color: blue;
    box-shadow: 50px,60px,40px,60px;
    margin: 2%;
    padding: 80px;
    border: 50px;
    border-radius: 50px
    ;
}
#j{
    background-color: blue;
    box-shadow: 50px,60px,40px,60px;
    margin: 2%;
    padding: 80px;
    border: 50px;
    border-radius: 50px
    ;
}
#k{
    background-color: blue;
    box-shadow: 50px,60px,40px,60px;
    margin: 2%;
    padding: 80px;
    border: 50px;
    border-radius: 50px
    ;
}
#l{
    background-color: blue;
    box-shadow: 50px,60px,40px,60px;
    margin: 2%;
    padding: 80px;
    border: 50px;
    border-radius: 50px
    ;
}
