#everyThing{
    margin-top: 150px;
    width: 1100px;
    margin-left: 100px;
}

.first{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;

}

#topic {

    color: #ef2e4c;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}


#sym {
   display: flex;
}

#sym button{
    margin-left: 10px;
}

#text {
    background-color: #f5f4f4;
    border-radius: 12px;
    width: 25rem;
    padding: 10px 40px 20px 40px;
    font-size: 14px;
    font-family: 'Roboto Mono', monospace;
}

#bottom {
    display: flex;
    align-items: center;
}

.secondpart {
    flex-wrap: wrap;
}

#span {
    font-size: 60px;
    color: #ef2e4c;
    position: relative;
    margin-left: -10px;
}


#container {
    display: flex;
    justify-content: space-evenly;
}